Task-16.1

In [6]:
import sqlite3

# Connect to an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create Books table
cursor.execute('''
CREATE TABLE Books (
    BookID INTEGER PRIMARY KEY AUTOINCREMENT,
    Title TEXT NOT NULL,
    Author TEXT NOT NULL,
    ISBN TEXT UNIQUE NOT NULL,
    PublicationYear INTEGER,
    Status TEXT NOT NULL DEFAULT 'Available'
);
''')

# Create Members table
cursor.execute('''
CREATE TABLE Members (
    MemberID INTEGER PRIMARY KEY AUTOINCREMENT,
    Name TEXT NOT NULL,
    Address TEXT,
    PhoneNumber TEXT,
    Email TEXT UNIQUE
);
''')

# Create Loans table
cursor.execute('''
CREATE TABLE Loans (
    LoanID INTEGER PRIMARY KEY AUTOINCREMENT,
    BookID INTEGER NOT NULL,
    MemberID INTEGER NOT NULL,
    LoanDate TEXT NOT NULL,
    ReturnDate TEXT,
    FOREIGN KEY (BookID) REFERENCES Books(BookID),
    FOREIGN KEY (MemberID) REFERENCES Members(MemberID)
);
''')

# Commit the changes
conn.commit()

print("Database schema created successfully with Books, Members, and Loans tables.")


# --- Code to display schema ---
# Function to display table schema using PRAGMA table_info
def display_table_schema(table_name):
    print(f"\n--- Schema for {table_name} table ---")
    cursor.execute(f"PRAGMA table_info({table_name});")
    schema_info = cursor.fetchall()
    if not schema_info:
        print(f"No schema information found for {table_name}.")
        return

    # Print header
    print(f"{'CID':<4} {'Name':<15} {'Type':<10} {'NotNull':<8} {'PK':<3} {'Dflt_Value':<15}")
    print(f"{'----':<4} {'---------------':<15} {'----------':<10} {'--------':<8} {'---':<3} {'---------------':<15}")

    # Print rows
    for col in schema_info:
        # col format: (cid, name, type, notnull, dflt_value, pk)
        print(f"{col[0]:<4} {col[1]:<15} {col[2]:<10} {bool(col[3]):<8} {bool(col[5]):<3} {str(col[4]):<15}")

# Display schema for each table
display_table_schema('Books')
display_table_schema('Members')
display_table_schema('Loans')

Database schema created successfully with Books, Members, and Loans tables.

--- Schema for Books table ---
CID  Name            Type       NotNull  PK  Dflt_Value
---- --------------- ---------- -------- --- ---------------
0    BookID          INTEGER    0        1   None
1    Title           TEXT       1        0   None
2    Author          TEXT       1        0   None
3    ISBN            TEXT       1        0   None
4    PublicationYear INTEGER    0        0   None
5    Status          TEXT       1        0   'Available'

--- Schema for Members table ---
CID  Name            Type       NotNull  PK  Dflt_Value
---- --------------- ---------- -------- --- ---------------
0    MemberID        INTEGER    0        1   None
1    Name            TEXT       1        0   None
2    Address         TEXT       0        0   None
3    PhoneNumber     TEXT       0        0   None
4    Email           TEXT       0        0   None

--- Schema for Loans table ---
CID  Name            Type       NotNull  PK  Dflt_Value
---- --------------- ---------- -------- --- ---------------
0    LoanID          INTEGER    0        1   None
1    BookID          INTEGER    1        0   None
2    MemberID        INTEGER    1        0   None
3    LoanDate        TEXT       1        0   None
4    ReturnDate      TEXT       0        0   None